.logincontainer {
    margin-left: 25%;
  }
  
  .loginBtn{
    float:right;
  }
  
  #loginForm .form-control {border:1px solid #ccc;}
  
  #loginForm .btn {border-radius: 4px; border:none;}
  #loginForm .btn-primary {background-color:#3baeda;}